*.fig binary
*.mat binary
*.mdl binary
*.mdlp binary
*.mexa64 binary
*.mexw64 binary
*.mexmaci64 binary
*.mlapp binary
*.mldatx binary
*.mlproj binary
*.mlx binary
*.p binary
*.sfx binary
*.sldd binary
*.slreqx binary
*.slmx binary
*.sltx binary
*.slxc binary
*.slx binary merge=mlAutoMerge
*.slxp binary

## Other common binary file types
*.docx binary
*.exe binary
*.jpg binary
*.pdf binary
*.png binary
*.xlsx binary

## We didn't code these
Simscape-Multibody-Contact-Forces-Library-20.2.5.0/* linguist-vendored
externals/catch2/* linguist-vendored
main_codegen_kinematics/* linguist-vendored
tests/process_optimiser_find_all_maximum_empty_rectangles.test.cc linguist-vendored
